/* リセットと基本設定 */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  animation: fadeInBody 1s ease forwards;
}


/* フェードアニメーション */
@keyframes fadeInBody {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* iPhone対応（〜430px） */
@media screen and (max-width: 431px) {
  
}

/* iPad対応（431px〜768px） */
@media screen and (min-width: 431px) and (max-width: 768px) {

}

/* PC・iPad横対応（769px以上） */
@media screen and (min-width: 769px) {
  
}